body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

div.row {
  text-align: center;
}

.grey-section {
  background-color: #dbe7f9;
  padding: 3rem 1.5rem;
  text-align: center;
}
